@font-face {
    font-family: "Font";
    src: url('../font/Font.woff') format('woff');
}
html {
    font-family: "Font", sans-serif;
    background-color: #F3F3F3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-in {
    opacity: 1;

}

.fade-in.show {
    opacity: 0;
    transition: 1s ease-out;
}
.fade-in.show2 {
    opacity: 0;
    transition: 1s ease-out;
}

.question-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    transition: opacity 2s ease-in;
}

.question-article {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2vh 3vw;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: .2rem .4rem rgba(0, 0, 0, 0.1);
    width: 40vw;
    text-align: center;
    transition: 1s fade-in;
}

.question-article p {
    color: #002242;
    font-size: 1.5rem;
    line-height: 1.5;

}
.question-article h1 {
    color: #002242;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 1vh;
    }

.answer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.button-blue {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 2.75rem;

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    border-radius: 5px;
    margin: 1vw;
    cursor: pointer;

    width: 18.5vw;
    height: 15vw;
}

.button-red {
    background-color: #dc3545;
    color: white;
    font-size: 2.75rem;

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;


    border-radius: 5px;
    border: red solid 1px;
    margin: 1vw;
    cursor: pointer;

    width: 18.5vw;
    height: 15vw;
}

