@font-face {
    font-family: "Font";
    src: url('../font/Font.woff') format('woff');
}

html {
    font-family: "Font", sans-serif;
    background-color: #F3F3F3;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.navlinkera {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 100px;
}

.navlinks {
    margin: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #002242;
    transition: all 0.5s ease-in;
    background-image: linear-gradient(90deg, #002242, #002242); /* underline color */
    background-size: 0 2px; /* vertical size of underline */
    background-repeat: no-repeat;
    background-position: left bottom; /* start position of underline */

}

.navlogo {
    width: auto;
    height: 100px;
    margin: 10px;
}

.navlinks:hover {
    background-size: 100% 2px;;
}

.homeBanner {
    background-image: url("../img/homebanner.webp");
    object-fit: cover;
    height: 86vh;
    align-content: center;
}

.homeTitle {
    margin: 0;
    padding-left: 5rem;
    font-size: 5rem;
    color: #F3F3F3;
    -webkit-text-stroke: .1px #002242;
}

.underHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    margin: 2rem 0rem;
    justify-content: space-evenly;
}

.underHeaderLogo {
    text-align: center;
}

.underHeaderLogo img {
    height: 5rem;
    width: auto;
}

.intro {
    text-align: center;
}

.intro p {
    width: 50vw;
    font-size: 1.2rem;
    line-height: 2rem;
}

.aboutUsButton {
    background-color: #002242;
    color: #F3F3F3;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.experiences {
    height: 75vh;
    align-content: center;
    margin-bottom: 3rem;
}

.experiencesButton {
    align-content: center;
}

.experiencesButton img {
    height: 5rem;
}

.experiencesButton:hover {
    cursor: pointer;
}


.experiencesTitle {
    font-size: 2.5rem;
    padding-left: 9rem;
}

.experienceArticles {
    display: flex;
    justify-content: space-evenly;

}

.experienceArticles article img {
    height: 45vh;
    width: 30vw;
    object-fit: cover;
    border-radius: 50px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 50vh;
    background-color: #002242;
    color: #F3F3F3;
    padding: 0 10vw;
    font-size: 1.2rem;
}

.footerImg {
    width: 10rem;
}

.legals {
    margin-top: 5.9rem;
    display: flex;
    gap: 4rem;
}

.legals a {
    text-decoration: none;
    color: #F3F3F3;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
    max-width: 50vw;
    gap: 5px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 90vw;
    max-width: 50vw;



}

input {
    font-family: Arial, Helvetica, sans-serif;
}

select {
    font-size: 1.2em;
    border: 3px solid #002242;
    border-radius: 5px;
}

textarea {
    border: 3px solid #002242;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


input {
    border: 3px solid #002242;
    border-radius: 5px;
    font-size: 1.2em;
}

.open {
    display: flex;
    flex-direction: column;

}

.questionname {
    display: flex;
    flex-direction: column;
    width: 24vw;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.radiobuttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;

}

button {
    padding: 6px;
    font-size: 1em;
    border-radius: 8px;
    border: 0;
    background-color: #11518e;
    color: #f3f3f3;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

button:hover {
    background-color: #f3f3f3;
    color:#11518e ;
}
th {
    background-color: #11518e;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

td {
    padding: 5px;
}

.tabel {
    display: flex;
    align-items: center;
    justify-content: center;

}

table {
    background-color: #f1f1f1   ;

    padding: 5px;
    border-radius: 5px;
    width:80%;
    margin: 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* CSS VOOR 360 AFBEELDINGEN */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
}


.card {
    padding: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: all ease-in-out 0.3s;
}

.card:hover {
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.cardstar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin: 5px
}

.cardstar h1 {
    margin:5px;
}

.cardoverview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutustext {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Styling voor de kopteksten */
.aboutushead {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #002242;
    border-bottom: 2px solid #002242;
    padding-bottom: 5px;
}

.aboutushead1 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #002242;
    padding-bottom: 5px;
}

.aboutusmain{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


