@font-face {
    font-family: "Font";
    src: url('../font/Font.woff') format('woff');
}

@font-face {
    font-family: "Barber";
    src: url("../font/Barber.woff") format('woff');
}

html {
    font-family: "Font", sans-serif;
    /*overflow-y: hidden;*/
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;}

header img{
    width: 100vw;
    height: auto;
}

h1 {
    font-family: "Barber", sans-serif;
    color: white;
    font-size: 10rem;
    position: relative;
    z-index: 1;
    margin: 0;
}

h2 {
    font-family: "Barber", sans-serif;
    color: white;
    font-size: 7.5rem;
    position: relative;
    margin: 0;
}

.headText {
    padding-top: 25rem;
}

.placeholder {
    position: absolute;
    padding-top: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.description {
    display: none;
}

.button {
    margin-top: -25%;
    font-size: 3rem;
    color: #E7D1FF;
    background-color: white;
    width: 30rem;
    padding: 1rem;
    border-radius: 1rem;
}

footer {
    display: none;
    margin-top: 24rem;
    background-color: #E7D1FF;
    height: 4rem;
    position: relative;
    z-index: 2;
}

footer p {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    padding-top: .55rem;
}

nav {
    background-color: rgb(231, 209, 255);
    display: flex;
    //justify-content: center;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    transition: all 0.5s ease;
    position: sticky;

}

.logo{
    max-width: 100%;
    height: auto;
}

.tohome {
    max-width: 18%;
    margin-left: 0px;
    height: auto;
    object-fit: cover;
    margin: 5px
}

.goback {
    max-width: 5%;
    margin-left: 0px;
    height: auto;
    flex: none;
}

.goback img{
    max-width: 100%;
    height: auto;
}

.gobackindex{
    visibility: hidden;
    max-width: 5%;
    height: auto;
    flex: none;
}

.gobackindex img{

    max-width: 100%;
    height: auto;
}